@media only screen and (min-width: 1081px) {
  section {
    padding: 6% 3% 3%;
  }

  .logotype,
  h2,
  p {
    color: darken($col-gold-text, 10%);
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;

    &.first {
      font-size: 1.5rem;
    }
  }

  .new-drawings {
    margin-inline: 6rem;
    background: rgb(240, 237, 231);
    background: linear-gradient(
      90deg,
      rgba(240, 237, 231, 1) 0%,
      rgba(240, 237, 231, 1) 96%,
      rgba(255, 255, 255, 1) 96%,
      rgba(255, 255, 255, 1) 100%
    );

    .slideshow {
      grid-template-columns: 27% 1fr 1fr;
      grid-template-areas:
        "intro slide-container slide-container"
        "info slide-container slide-container"
        "controls slide-container slide-container"
        ". rider rider";
      gap: 3rem;

      .slideshow-intro {
        grid-area: intro;

        h2 {
          color: darken($col-gold-text, 10%);
          font-size: 1.75rem;
        }

        p {
          &.first {
            color: darken($col-gold-text, 10%);
          }
        }
      }

      .slide-container {
        // height: 590px;
        margin-block: 0 0.5rem;
        display: grid;
        grid-template-areas: "slide";
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;

        .slide {
          grid-area: slide;
        }

        hgroup.slide-info {
          padding-inline: 6% 0;
          margin-block: 0rem;

          h3,
          p {
            color: darken($col-gold-text, 10%);
            &.slide-caption {
              color: darken($col-gold-text, 10%);
            }
          }

          h3 {
            font-size: 2.75rem;
          }

          p {
            &.slide-caption {
              padding: 0;
              font-size: 1.25rem;
            }
          }

          .rider {
            text-align: left;
            padding: 0;
            margin: 0;
          }
        }
      }

      .slider-controls {
        width: 100%;

        p {
          text-align: right;
        }

        .indicators {
          justify-content: end;
          gap: 0.5rem;
        }
      }

      .rider-layout {
        grid-area: rider;
        text-align: left;

        span {
          display: inline;
        }
      }
    }
  }

  .broadsheet {
    grid-template-columns: 69% 7.5% 23.5%;
    gap: 1rem;
    padding-inline: 0 6rem;

    .broadsheet-info {
      grid-area: 2/2/3/4;

      .broadsheet-text {
        padding-inline: 1rem 2rem;

        h2 {
          font-size: 2.75rem;
        }

        p {
          padding-inline: 0rem 3rem;

          &.first {
            font-size: 1.33rem;
          }
        }
      }

      .spread {
        width: 100%;
        margin: 0;
        padding: 1rem 0rem 0 0;

        img {
          width: 100%;
        }
      }
    }

    .hero {
      grid-area: 1/1/3/3;
      padding: 0;
      margin: 0;
    }

    .rider {
      padding: 0;
    }
  }

  .giclee {
    padding: 6% 1% 4.5% 3%;
    display: grid;
    grid-template-columns: 54% 1fr;
    grid-template-areas: "gicleeprintwrap gicleeinfo";
    background: rgb(240, 237, 231);
    background: linear-gradient(
      180deg,
      rgba(240, 237, 231, 1) 0%,
      rgba(240, 237, 231, 1) 87%,
      rgba(255, 255, 255, 1) 87%,
      rgba(255, 255, 255, 1) 100%
    );
    margin: 0 6rem 6rem;
    gap: 2rem;

    .giclee-info {
      grid-area: gicleeinfo;

      hgroup {
        padding-inline: 2rem 7.5rem;
      }

      figure {
        width: 100%;
        display: flex;
        justify-content: left;
        align-content: center;
      }
    }

    .print-wrap {
      grid-area: gicleeprintwrap;
      display: grid;
      grid-template-columns: repeat(3, 30%);

      .print {
        width: 100%;
        height: 89.5%;

        img {
          width: 100%;
          object-fit: contain;
          line-height: 1;
        }

        &:last-of-type {
          display: block;
        }
      }
    }
  }

  footer {
    .taitgh-cta {
      padding: 1rem 3rem;
      font-size: 1.33rem;
    }

    .logotype {
      letter-spacing: 1px;
    }
  }
}
