@media only screen and (min-width: 767px) {
  .giclee {
    .print-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .print {
        width: 100%;

        &:last-of-type {
          display: block;
        }
      }

      img {
        width: 100%;
        object-fit: contain;

        &:last-of-type {
          display: block;
        }
      }
    }
  }
}

// @media only screen and (min-width: 833px) {
//   .new-drawings {
//     .slideshow {
//       grid-template-columns: 27% 1fr;

//       .slide-container {
//         // height: 650px;
//         margin-block: 0 0.5rem;
//       }
//     }
//   }
// }
