$col-section-tan: #f2eee7;
$col-gold-text: #d7b285;
$col-gold-headers: darken($col-gold-text, 15%);
$col-link: darken($col-gold-text, 30%);

$font-direction: "Lato", sans-serif;
$font-headers: "Playfair Display", serif;

%header-standard {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: $font-headers;
  color: $col-gold-headers;
  line-height: 1.25;
}

.rider {
  display: block;
  font-family: $font-direction;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 1px;
  line-height: 0.85rem;
  margin-inline: 6% 3%;
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $col-gold-headers;
  padding: 1.5rem 0;
}

.wrapper {
  margin-inline: 3%;
  margin-block: auto;
}

header {
  padding: 5%;
  text-align: center;

  .chop {
    width: 30px;
    margin-block: 0.25rem;
  }
}

a {
  color: $col-link;
}

h1 {
  @extend %header-standard;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9rem;
}

h2 {
  @extend %header-standard;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h3 {
  @extend %header-standard;
  font-size: 1.66rem;
  text-transform: capitalize;
  letter-spacing: 0;
  padding-block: 0 1rem;
}

p {
  margin-block: 0.5rem 0.25rem;
  line-height: 1.125;

  &.first {
    font-size: 1.25rem;
    padding-block: 0.5rem;

    span {
      display: inline-block;
      font-size: 0.75rem;
      padding: 0;
      line-height: 1.25;
    }
  }

  &.subhead {
    font-family: $font-direction;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.66rem;
  }
}

section {
  background-color: $col-section-tan;
  padding: 6% 3%;
  margin-inline: 2%;

  hgroup {
    padding-block: 1rem 0.5rem;
    padding-inline: 0 9%;

    h2 {
      line-height: 1.125;

      & span {
        display: block;

        &.secondary-heading {
          text-transform: none;
        }
      }
    }
  }
}

.new-drawings {
  .rider {
    text-align: left;
    margin: 0;
    padding-inline: 0 6%;

    span {
      display: block;
      padding-inline: 0.5rem 0;
    }
  }

  .slideshow {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 0.5rem;
    grid-template-areas:
      "slide-container slide-container"
      "controls ."
      "info info";
    position: relative;

    .slide-container {
      grid-area: slide-container;
      width: 105%;
      height: 320px;
      margin-block: 0 0.5rem;

      .slide.landscape {
        display: block;
        margin: 0 0 0 auto;
        width: 100%;
        height: auto;
        object-fit: cover;
        border: 1px solid $col-gold-text;
      }

      .slide.portrait {
        display: block;
        margin: 0 0 0 auto;
        width: 69%;
        height: auto;
        object-fit: cover;
        border: 1px solid $col-gold-text;
      }
    }

    hgroup.slide-info {
      grid-area: info;
      margin-left: 0%;
      margin-block: 1rem;

      .slide-caption {
        font-size: 1.25rem;
        padding-right: 12%;
        margin-block: 0 1rem;
      }

      h3 {
        margin-block: 0;
        line-height: 1;
      }
    }

    .slider-controls {
      position: absolute;
      top: -6rem;
      grid-area: controls;
      width: 100%;
      padding-block: 0.5rem 0;
      display: flex;
      flex-direction: column;

      .instruction {
        font-family: $font-direction, "Gill Sans", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.66rem;
        line-height: 1.25;
        padding-left: 0.25rem;
        margin-bottom: 0.5rem;
      }

      .indicators {
        margin-block: 0 1rem;
        display: flex;
        justify-content: space-evenly;
      }

      .indicator {
        appearance: none;
        background-color: transparent;
        margin: 0;
        color: currentColor;
        width: 0.4em;
        height: 0.4em;
        border: 1px solid currentColor;
        border-radius: 50%;
      }

      .indicator:checked {
        background-color: $col-gold-text;
      }

      .button-group {
        display: flex;
        justify-content: end;
        gap: 0.5rem;
        padding-right: 0.5rem;

        .arrow {
          cursor: pointer;
          width: 27px;
          height: 27px;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: contain;
          outline: 0;

          button::-moz-focus-inner {
            border: 0;
          }

          &.last {
            background-image: url("../images/taitgh-newsletter-button-prev.svg");
          }

          &.prev {
            background-image: url("../images/taitgh-newsletter-button-next.svg");
          }
        }
      }
    }
  }
}

.broadsheet {
  background-color: #fff;
  padding: 6% 0%;
  position: relative;

  hgroup {
    padding-inline: 3% 12%;
  }

  figure {
    width: 94%;
    padding-bottom: 6rem;

    img {
      width: 100%;
      object-fit: contain;
    }

    &.spread {
      width: 72%;
      position: absolute;
      bottom: -3%;
      margin-left: 24vw;

      img {
        width: 66vw;
      }
    }
  }
}

.giclee {
  background: rgb(240, 237, 231);
  background: linear-gradient(
    180deg,
    rgba(240, 237, 231, 1) 0%,
    rgba(240, 237, 231, 1) 96%,
    rgba(255, 255, 255, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );

  figure {
    width: 90%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .print-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    img {
      display: block;
      border: 1px solid $col-section-tan;
      width: 47%;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 1rem 2rem;
  gap: 0.5rem;

  .taitgh-cta {
    display: block;
    border: #d7b285 1px solid;
    color: #d7b285;
    padding: 1rem;
    width: max-content;
    text-transform: uppercase;
    font-family: $font-direction;
    letter-spacing: 2px;
    margin-block: 1rem;
  }

  .logotype {
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25rem;
    color: $col-gold-text;
  }

  .subhead {
    color: $col-gold-text;
  }

  .socials {
    margin-block: 1rem;
    display: flex;
    width: max-content;
    height: 30px;
    gap: 0.5rem;

    a {
      display: block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      color: $col-gold-text;

      span {
        display: block;
        text-indent: 999px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .byline {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 1rem 0;

    span {
      display: block;
      font-family: $font-direction, sans-serif;
      text-transform: uppercase;
      font-size: 0.75rem;
      margin-block: 0.25rem;
      letter-spacing: 2px;
      color: $col-gold-text;
      padding-right: 0.5rem;

      img {
        width: 70%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .return-to-top {
    a {
      position: fixed;
      right: 1rem;
      bottom: 0.5rem;
      display: block;

      img {
        display: block;
        transform: rotate(90deg);
        width: 40px;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 414px) {
  .new-drawings {
    .slideshow {
      .slider-controls {
        top: -5.25rem;
      }
    }
  }
}

@media only screen and (min-width: 568px) {
  .new-drawings {
    .slideshow {
      grid-template-columns: 33% 1fr;
      grid-template-areas:
        "slide-container slide-container"
        "controls info";
      justify-content: start;
      gap: 0;

      .slide-container {
        height: 400px;
        margin-block: 0 0.5rem;

        .slide {
          margin: 0 4.5rem 0 auto;
          width: 105%;
        }
      }

      .slider-controls {
        grid-area: controls;
        width: 60%;
        top: -3rem;
      }

      .slider-info {
        grid-area: info;
        width: 100%;

        hgroup {
          width: 100%;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 667px) {
  .new-drawings {
    .slideshow {
      .slide-container {
        height: 475px;
        margin-block: 0 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 736px) {
  .new-drawings {
    .slideshow {
      .slide-container {
        height: 550px;
        margin-block: 0 0.5rem;
      }

      .slider-controls {
        top: -6rem;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .new-drawings {
    .slideshow {
      .slide-container {
        height: 550px;
        margin-block: 0 0.5rem;
      }

      .slider-controls {
        top: -4.5rem;
      }
    }
  }
}
