$section-tan: #f2eee7;
$gold-text: #d7b285;
$gold-headers: darken($gold-text, 5%);

$link: darken($gold-text, 20%);

$direction: "Lato", sans-serif;
$headers: "Playfair Display", serif;

%header-stuff {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: $headers;
  color: $gold-headers;
  line-height: 1.25;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: $gold-headers;
  padding: 1.5rem 0;
}

.wrapper {
  margin-inline: 3%;
  margin-block: auto;
}

header {
  padding: 5%;
  text-align: center;
}

a {
  color: $link;
}

h1 {
  @extend %header-stuff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9rem;
}

h2 {
  @extend %header-stuff;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h3 {
  @extend %header-stuff;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0;
}

p {
  margin-block: 0.5rem 0.25rem;
  line-height: 1.125;

  &.first {
    font-size: 1.25rem;
  }

  &.subhead {
    font-family: $direction;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.66rem;
  }

  &.slide-caption {
    font-size: 1.25rem;
    padding-right: 24%;
  }
}

.chop {
  width: 30px;
  margin-block: 0.25rem;
}

section {
  background-color: $section-tan;
  padding: 6% 3%;

  hgroup {
    padding-block: 1rem 0.5rem;
    padding-inline: 0 9%;
  }
}

section.new-drawings {
  margin-right: 4.5%;

  .slide {
    display: block;
    width: 108%;
    height: auto;
    object-fit: contain;
  }

  .slider-controls {
    width: 36%;
    padding-block: 0 1rem;
    display: flex;
    flex-direction: column;

    .instruction {
      font-family: Lato, "Gill Sans", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.66rem;
      line-height: 1.25;
    }

    .indicators {
      margin-block: 0 1rem;
    }

    .indicator {
      appearance: none;
      background-color: transparent;
      margin: 0;
      color: currentColor;
      width: 0.4em;
      height: 0.4em;
      border: 1px solid currentColor;
      border-radius: 50%;
    }

    .indicator:checked {
      background-color: $gold-text;
    }
  }

  .button-group {
    display: flex;
    justify-content: end;
    gap: 0.5rem;

    .arrow {
      cursor: pointer;
      width: 27px;
      height: 27px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      outline: 0;

      button::-moz-focus-inner {
        border: 0;
      }

      &.last {
        background-image: url("../images/taitgh-newsletter-button-prev.svg");
      }

      &.prev {
        background-image: url("../images/taitgh-newsletter-button-next.svg");
      }
    }
  }
}

section.broadsheet {
  background-color: #fff;
  padding-block: 3%;
}
